# Ignore .env file
.env

# Ignore README.md file
# README.md

# Ignore all Docker files
# Dockerfile
# .dockerignore

# Ignore the virtual environment folder
dad_venv/

# Ignore the update cmd
update-container-cmd.txt

# Ignore workspace
dad_bot.code-workspace