# Ignore .env file
.env

# Ignore README.md file
# README.md

# Ignore all Docker files
# Dockerfile
# .dockerignore

# Ignore the virtual environment folder
dad_venv/

# Ignore workspace
dad_bot.code-workspace

# Ignore all files in the docs directory
/docs/*

# Ignore all files in pycache
db_app/__pycache__/*
